/*!
 * ${copyright}
 */

/* =========================== */

/* Global CSS for 'base' theme */

/* =========================== */

.sapRULTDecisionTableSettings TH {
  background-color: transparent !important;
}

.sapRULTDecisionTableSettings TD {
  background-color: transparent;
  padding-left: 0px !important;
}

.sapRULTDecisionTableSettings .sapMListTbl {
  width: 101%;
}

.sapRULTDecisionTableSettings .sapMListTbl th {
  border-bottom: 0px !important;
  padding-left: 0px !important;
}

.sapRULTDecisionTableSettingsMessageStrip {
  height: 35px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.sapRULTDecisionTableSettingsMessageStrip .sapMText {
  line-height: 1.2 !important;
  padding-top: 0px !important;
}

.sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner {
  background-color: #f2f2f2 !important;
}

.sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner:hover {
  background-color: #f2f2f2 !important;
}

.sapRULTDecisionTableSettingsForm {
  padding-right: 0.25rem;
}

.sapRULDecisionTable .sapUiTableCtrlScr {
  overflow-y: visible;
}

.sapRULDecisionTable .sapUiTableCnt {
  overflow-y: visible;
}

.sapRULDecisionTable .sapUiTableCCnt {
  overflow-y: visible;
}

.sapRULDecisionTableLink {
  margin-left: 5px;
  text-decoration: underline;
}

.sapRULDecisionTable > td {
  padding: 0px;
  position: relative;
}

/*** Fix for thcik column header ***/

.sapRULDecisionTable .sapUiTableCol,
.sapUiTableTr > td {
  position: relative;
}

/*** Fix for cut header + add 3 dots in the end of header
---> http://stackoverflow.com/questions/37273477/openui5-sapui5-bug
***/

.sapRULDecisionTableColumnHeaderLabel {
  line-height: normal !important;
}

/*** Fix for remove row hover background-color in edit mode
---> bug-4230
***/

.sapRULDecisionTableEdit .sapUiTableCtrl .sapUiTableRowHvr > td {
  background-color: transparent !important;
}

.sapRULDecisionTableEdit .sapUiTableCtrl tr.sapUiTableRowHvr {
  background-color: transparent !important;
}

.sapRULDecisionTableToolBar {
  background-color: #ffffff;
  font-size: 16px;
}

.sapRULDecisionTableSCell .sapMInputBaseErrorInner {
  border-color: #ee0000;
  border-style: solid;
  border-width: 2px;
  padding-top: 1px;
}

.sapRULDecisionTableSCell .sapMInputBaseErrorInner:focus {
  border-style: dotted;
}

.sapRULDecisionTableSCellFocus {
  position: absolute;
  top: 0px;
}

.sapRULDecisionTableSCellTextOverflow .sapMInputBaseInner {
  text-overflow: ellipsis;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #333333;
}

.sapRULExpressionAdvanced .sapMInputDivWrapper {
  height: auto;
}

.sapRULExpressionAdvanced .CodeMirror-rules .cm-valuehelp {
  color: #00c;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.sapRULExpressionBasic {
  margin-right: 0.5rem!important;
}

.sapTextRuleFontSize {
  font-size: 1.125rem;
}

.sapTextRuleLink {
  margin-left: 5px;
  text-decoration: underline;
}

.sapTextRuleSettingsMessageStrip {
  height: 35px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.sapTextRuleSettingsMessageStrip .sapMText {
  line-height: 1.2 !important;
  padding-top: 0px !important;
}

.sapTextRuleSettingsForm {
  padding-right: 0.25rem;
}

.sapRULTextRule .sapMPanel .sapMPanelWrappingDiv .sapMPanelHdr > :first-child,
.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB > :first-child {
  margin-top: 5px;
}

.sapRULTextRule .sapMPanel > .sapMPanelHdr,
.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
  border-bottom-color: #fafafa;
}

.sapAstExpressionInput {
  border: 1px solid #cccccc;
  font-family: "72", Arial, Helvetica, sans-serif;
  line-height: 1.65rem;
  min-height: 1.5rem;
  padding-left: 0.5rem;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  color: black;
  display: inline-block;
}

.sapMPopoverScroll .sapAstExpressionInput {
  border: 1px solid #bfbfbf;
  font-family: "72", Arial, Helvetica, sans-serif;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  display: block;
  color: black;
}

.sapAstExpressionInputError {
  border: 2px solid #e42e2e !important;
}

.sapAstExpressionInputNotEditable {
  background-color: transparent !important;
}

.sapAstExpressionInput:focus {
  outline: none;
}

.sapAstExpressionInput:focus::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px dotted #000000;
  pointer-events: none;
}

.sapAstExpressionInputWrapper {
  background-color: #ffffff;
}

.sapAstVariableClass {
  display: inline-block;
  color: #FF0000;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstRangeClass {
  display: inline-block;
  color: #000000;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstOperatorClass {
  display: inline-block;
  color: #32CD32;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstFunctionalOperatorClass {
  display: inline-block;
  color: #8B008B;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstFunctionClass {
  display: inline-block;
  color: #0000cd;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstParenthesisClass {
  display: inline-block;
  color: #000000;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstLiteralClass {
  display: inline-block;
  color: #000000;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstLogicalOpertorClass {
  display: inline-block;
  color: #ADFF2F;
  cursor: pointer;
  user-select: text;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.sapAstAuxilaryNodeClass {
  display: inline-block;
  cursor: pointer;
  user-select: text;
}

.sapAstErrorNodeClass {
  display: inline-block;
  border: 2px solid red;
  cursor: pointer;
  user-select: text;
}

.sapAstAggregationHorizontalLayout > :nth-of-type(3) {
  margin-top: -18px;
}

.sapAstAggregationHorizontalLayout {
  width: 100%;
  height: 35px !important;
  margin-left: 10px !important;
}

.sapAstFieldMargin {
  margin-top: 10px !important;
}

.sapAstAttributeColumn {
  padding-left: 0px !important;
}

.sapAstSelectFunctionField {
  height: 2.5rem !important;
}

.sapAstSelectCountField {
  min-width: 50% !important;
}

.sapAstExpressionBasicField {
  padding: 4px !important;
  min-height: 1.4rem !important;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapMPanelHdr {
  height: inherit !important;
  line-height: 245% !important;
  vertical-align: middle !important;
  font-size: 14px;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapMPanelExpandableIcon {
  line-height: 14px !important;
  margin-left: 22px !important;
  height: 11px;
  width: 11px;
  font-size: 11px;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapMDLILabel {
  font-size: 12px;
  height: 28px;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapUiSizeCompact .sapMDLI {
  height: 28px;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapMPanelContent {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: hidden;
}

.sapAstAutoCompleteSuggestionContentRenderer .sapMLnk {
  font-size: 12px;
  line-height: 245% !important;
  height: 28px;
  margin-left: 16px;
}

.sapAstVocabularyPanel {
  padding-left: 1.1rem;
}

div:empty:before {
  content: attr(data-placeholder);
  color: #808080;
}

.sapAstExpressionPreSpaceMargin {
  margin-top: 3px !important;
}

/* ===================================== */

/* Quick Theming                         */

/* ===================================== */

/*
 UX COLOR SET
*/

/* PRIMARY COLORS */

/* ACCENT COLORS */

/* LEGEND COLORS */

/* Semantic Background Colors */

/* Semantic Border Colors */

/* Semantic Foreground Elements */

/* Semantic Text */

/* Semantic Foreground Colors */

/* ===================================== */

/* Expert Theming                        */

/* ===================================== */

.sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  right: 3px;
  bottom: 7px;
  border: 1px dotted #000000;
  pointer-events: none;
}

.sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::before {
  border: none;
}

.sapContrastPlus.sapRULTDecisionTableSettings TH,
.sapContrastPlus .sapRULTDecisionTableSettings TH {
  background-color: transparent !important;
}

.sapContrastPlus.sapRULTDecisionTableSettings TD,
.sapContrastPlus .sapRULTDecisionTableSettings TD {
  background-color: transparent;
}

.sapContrastPlus.sapRULTDecisionTableSettings .sapMListTbl th,
.sapContrastPlus .sapRULTDecisionTableSettings .sapMListTbl th {
  border-bottom: 0px !important;
}

.sapContrastPlus.sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner,
.sapContrastPlus .sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner {
  background-color: #f2f2f2 !important;
}

.sapContrastPlus.sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner:hover,
.sapContrastPlus .sapRULExpressionAdvancedResultTable > .sapMInput > .sapMInputBaseInner:hover {
  background-color: #f2f2f2 !important;
}

.sapContrastPlus.sapRULDecisionTableLink,
.sapContrastPlus .sapRULDecisionTableLink {
  text-decoration: underline;
}

.sapContrastPlus.sapRULDecisionTableEdit .sapUiTableCtrl .sapUiTableRowHvr > td,
.sapContrastPlus .sapRULDecisionTableEdit .sapUiTableCtrl .sapUiTableRowHvr > td {
  background-color: transparent !important;
}

.sapContrastPlus.sapRULDecisionTableEdit .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapContrastPlus .sapRULDecisionTableEdit .sapUiTableCtrl tr.sapUiTableRowHvr {
  background-color: transparent !important;
}

.sapContrastPlus.sapRULDecisionTableToolBar,
.sapContrastPlus .sapRULDecisionTableToolBar {
  background-color: #3f5161;
}

.sapContrastPlus.sapRULDecisionTableSCell .sapMInputBaseErrorInner,
.sapContrastPlus .sapRULDecisionTableSCell .sapMInputBaseErrorInner {
  border-color: #ff8888;
}

.sapContrastPlus.CodeMirror div.CodeMirror-cursor,
.sapContrastPlus .CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #fafafa;
}

.sapContrastPlus.sapRULExpressionAdvanced .CodeMirror-rules .cm-valuehelp,
.sapContrastPlus .sapRULExpressionAdvanced .CodeMirror-rules .cm-valuehelp {
  color: #00c;
  text-decoration: underline;
}

.sapContrastPlus.sapTextRuleLink,
.sapContrastPlus .sapTextRuleLink {
  text-decoration: underline;
}

.sapContrastPlus.sapRULTextRule .sapMPanel > .sapMPanelHdr,
.sapContrastPlus .sapRULTextRule .sapMPanel > .sapMPanelHdr {
  border-bottom-color: #fafafa;
}

.sapContrastPlus.sapMPanelWrappingDiv,
.sapContrastPlus .sapMPanelWrappingDiv {
  border-bottom-color: #fafafa;
}

.sapContrastPlus.sapMPanelWrappingDivTb,
.sapContrastPlus .sapMPanelWrappingDivTb {
  border-bottom-color: #fafafa;
}

.sapContrastPlus.sapAstExpressionInput,
.sapContrastPlus .sapAstExpressionInput {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: black;
}

.sapContrastPlus.sapMPopoverScroll .sapAstExpressionInput,
.sapContrastPlus .sapMPopoverScroll .sapAstExpressionInput {
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  color: black;
}

.sapContrastPlus.sapAstExpressionInputError,
.sapContrastPlus .sapAstExpressionInputError {
  border: 2px solid #e42e2e !important;
}

.sapContrastPlus.sapAstExpressionInputNotEditable,
.sapContrastPlus .sapAstExpressionInputNotEditable {
  background-color: transparent !important;
}

.sapContrastPlus.sapAstExpressionInput:focus,
.sapContrastPlus .sapAstExpressionInput:focus {
  outline: none;
}

.sapContrastPlus.sapAstExpressionInput:focus::before,
.sapContrastPlus .sapAstExpressionInput:focus::before {
  border: 1px dotted #000000;
}

.sapContrastPlus.sapAstExpressionInputWrapper,
.sapContrastPlus .sapAstExpressionInputWrapper {
  background-color: #ffffff;
}

.sapContrastPlus.sapAstVariableClass,
.sapContrastPlus .sapAstVariableClass {
  color: #FF0000;
}

.sapContrastPlus.sapAstRangeClass,
.sapContrastPlus .sapAstRangeClass {
  color: #000000;
}

.sapContrastPlus.sapAstOperatorClass,
.sapContrastPlus .sapAstOperatorClass {
  color: #32CD32;
}

.sapContrastPlus.sapAstFunctionalOperatorClass,
.sapContrastPlus .sapAstFunctionalOperatorClass {
  color: #8B008B;
}

.sapContrastPlus.sapAstFunctionClass,
.sapContrastPlus .sapAstFunctionClass {
  color: #0000cd;
}

.sapContrastPlus.sapAstParenthesisClass,
.sapContrastPlus .sapAstParenthesisClass {
  color: #000000;
}

.sapContrastPlus.sapAstLiteralClass,
.sapContrastPlus .sapAstLiteralClass {
  color: #000000;
}

.sapContrastPlus.sapAstLogicalOpertorClass,
.sapContrastPlus .sapAstLogicalOpertorClass {
  color: #ADFF2F;
}

.sapContrastPlus.sapAstErrorNodeClass,
.sapContrastPlus .sapAstErrorNodeClass {
  border: 2px solid red;
}

.sapContrastPlus.sapAstAutoCompleteSuggestionContentRenderer .sapMPanelContent,
.sapContrastPlus .sapAstAutoCompleteSuggestionContentRenderer .sapMPanelContent {
  border-bottom: hidden;
}

.sapContrastPlus div:empty:before {
  color: #808080;
}

.sapContrastPlus.sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::after,
.sapContrastPlus .sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::after {
  border: 1px dotted #000000;
}

.sapContrastPlus.sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::before,
.sapContrastPlus .sapRULExpressionAdvanced .sapMFocus .sapMInputDivWrapper:not(.sapMInputBaseDisabledInner)::before {
  border: none;
}
/* Inline theming parameters */
#sap-ui-theme-sap\.rules\.ui{background-image:url('data:text/plain;utf-8,%7B%22default%22%3A%7B%7D%2C%22scopes%22%3A%7B%22sapContrastPlus%22%3A%7B%7D%7D%7D')}